.navbar {
    background-color: darkslategray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}

.navbar-toggler {
    background-color: darkslategray;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: lightgray;
}

#userNav .nav-link {
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

#userNav .nav-link:hover {
    background-color: lightgray;
    color: darkslategray;
}
